.area {
  display: flex;
  gap: 75px;
  padding: 70px 140px 70px 140px;

  .area__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1;

    ul {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 386px;

      li {
        &:first-child {
          color: #222;
          font-family: Roboto;
          font-size: 42px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }

        color: #717171;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .area__buttons {
      display: flex;
      gap: 12px;

      .area-button {
        display: flex;
        padding: 12px 45px;
        justify-content: center;
        align-items: center;

        text-align: center;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;

        white-space: nowrap;

        &:first-child {
          color: #FFF;
          border: 1px solid #DFB693;
          background: #DBA77B;
          transition: all 0.3s;
          cursor: pointer;

          &:hover {
            background-color: #DFB693;
          }
        }

        &:last-child {
          color: #222;

          border: 1px solid #F4F4F4;
          background: #FFF;
        }

        border-radius: 12px;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
      }
    }
  }

  .area__image {
    flex: 2;

    .title {
      display: none;
    }

    .img {
      position: relative;
      height: 100%;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        z-index: 9;
        height: 100%;
        width: 100%;

        border-radius: 16px;
        background: linear-gradient(25deg, rgba(0, 0, 0, 0.00) 59.06%, rgba(0, 0, 0, 0.15) 85.06%), linear-gradient(198deg, rgba(0, 0, 0, 0.00) 69.78%, rgba(0, 0, 0, 0.35) 87.66%);
      }

      img {
        display: flex;
        border-radius: 16px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    border-radius: 16px;
  }
}

@media (max-width: 1300px) {
  .area {
    gap: 75px;
    padding: 40px 40px 40px 40px;

    .area__info {
      flex: 1;

      ul {
        gap: 20px;
        position: relative;

        &:before {
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          content: "";

          background: linear-gradient(180deg, #fff0, #fff);
          z-index: 1;
        }

        li {

          &:first-child {
            font-size: 40px;
          }

          &:last-child {
            display: none;
          }
        }
      }

      .area__buttons {
        flex-direction: column;
        padding: 0px 23px;

        .area-button {
          &:first-child {
          }

          &:last-child {
          }
        }
      }
    }

    .area__image {
      flex: 1;
      &:before {
      }

      img {
      }

    }
  }
}

@media (max-width: 768px) {
  .area {
    flex-direction: column-reverse;
    gap: 24px;
    padding: 40px 16px 40px 16px;

    .area__info {
      flex: 1;

      ul {
        gap: 20px;
        position: relative;

        li {
          &:first-child {
            display: none;
          }

          &:last-child {
            display: none;
          }
        }
      }

      .area__buttons {
        flex-direction: column;
        padding: 0px 23px;

        .area-button {
          &:first-child {
          }

          &:last-child {
          }
        }
      }
    }

    .area__image {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 16px;

      .title {
        display: block;
        color: #222;
        font-family: Roboto;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      &:before {
        height: 272px;
      }

      img {
        height: 272px;
      }
    }
  }
}