@import "../../styles/mixins.scss";

@media (max-width: 1300px) {
  .banner {
    color: #fff;
    padding: 12px 40px 64px 40px;

    .banner__bg {
      height: 814px;

      border-radius: 16px;
      box-shadow: 0px 2px 34px 0px rgba(0, 0, 0, 0.10);

      .banner__info {
        top: 104px;
        left: 40px;
        transform: translateY(0);

        h1 {
          font-size: 64px;
          margin-bottom: 32px;
        }

        h4 {
          font-size: 22px;

          margin-bottom: 16px;
        }

        .banner__prices {
          gap: 40px;

          .banner__price {
            div:first-child {
              span {
                white-space: nowrap;
                font-weight: 600;
                line-height: 32px;
              }
            }

            div:last-child {
              color: #F1F1F1;
              font-size: 16px;
              font-style: normal;
              font-weight: 300;
              line-height: 20px;
            }
          }
        }
      }

      .banner__full {
        right: 24px;
        bottom: -100px;
        max-width: 332px;
        padding: 130px 24px 24px 24px;

        .banner__image {
          top: -100px;
          left: 0px;
          img {
            width: 352px;
          }
        }

        .banner__buttons {
          h4 {
            margin-bottom: 18px;
          }

          .banner__presentation {
          }

          .banner__contact {
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .banner {
    color: #fff;
    padding: 12px 16px 64px 16px;

    .banner__bg {
      height: 408px;

      .banner__info {
        top: 26px;
        left: 20px;

        h1 {
          font-size: 48px;
          margin-bottom: 24px;
        }

        h4 {
          font-size: 16px;
          line-height: 110%;

          margin-bottom: 12px;
        }

        .banner__prices {
          gap: 40px;

          .banner__price {
            div:first-child {
              font-size: 16px;

              span {
              }
            }

            div:last-child {
              font-size: 14px;
            }
          }
        }
      }

      .banner__full {
        right: 0px;
        bottom: -88%;
        z-index: 9;
        max-width: 100%;
        padding: 80px 24px 24px 24px;
        background: #fff;

        .banner__image {
          top: -44%;
          left: 0px;
          max-width: 340px;

          img {
            width: 100%;
          }
        }

        .banner__buttons {
          h4 {
            margin-bottom: 18px;
          }

          .banner__presentation {
          }

          .banner__contact {
          }
        }
      }
    }
  }
}
